* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: inherit;
}

body {
    margin: 0 auto;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
}

.grid-header {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

#header-logo {
    padding-top: 12px;
    margin-left: .75em;
}

.header-nav {
    display: flex;
    padding: 0;
}

.header-nav a {
    font-size: .75em;
    font-weight: 300;
    cursor: default;
    margin: 1.75em;
}

.header-nav a:hover {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

#current-page {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

/* Header media queries */
@media (max-width: 975px) {
    .grid-header {
        flex-direction: column;
        align-items: center;
    }

    #header-logo {
        margin: 0 .75rem .75rem;
    }

    .header-nav {
        /* border: 2px solid green; */
        margin: 0 .75rem;
    }
}

.grid-main {
    display: flex;
    justify-content: space-between;
    cursor: none;
    margin: 4em 5%;
}

.main-text {
    margin-top: 3.5em;
}

.svg-graphic {
}

#ikiliagwu-eloke {
    font-weight: 300;
    font-size: 5rem;
    margin: 0;
}


#front-end {
    margin: 0;
}

#ui-ux {
    margin: 0;
}

.grid-footer {
    font-size: .75em;
}

.fa-arrow-circle-up {
    position: fixed;
    bottom: 5%;
    right: 5%;
}